@charset "utf-8";
/* CSS Document */

*{margin: 0;}

@font-face
{
	font-family: 'Segoe MDL2';
	src: url(fonts/segmdl2.ttf);
}

.sbutton
{
	width: 120px;
	height: 30px;
	background: transparent;
	border: rgba(36,36,36,0.1) solid 1px;
	color: rgba(36,36,36,0.95);
	outline: none;
	cursor: pointer;
	overflow: hidden;
	box-sizing: border-box;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
.sbutton:hover
{
	border-color: rgba(36,36,36,0.2);
	color: rgba(36,36,36,0.7);
}
.sbutton:active
{
	background: rgba(200,200,200,0.1);
	border-color: rgba(36,36,36,0.1);
	color: rgba(36,36,36,0.6);
}

.sbutton.blue
{
	background: rgba(35,161,193,1.00);
	border: thin;
	color: rgba(242,242,242,0.95);
}
.sbutton.blue:hover
{
	background: rgba(35,161,193,0.8);
	color: rgba(242,242,242,1);
}
.sbutton.blue:active
{
	background: rgba(35,161,193,0.95);
	color: rgba(242,242,242,1);
}

.sbutton.green
{
	background: rgba(69,172,97,1.00);
	border: thin;
	color: rgba(242,242,242,0.95);
}
.sbutton.green:hover
{
	background: rgba(69,172,97,0.8);
	color: rgba(242,242,242,1);
}
.sbutton.green:active
{
	background: rgba(69,172,97,0.95);
	color: rgba(242,242,242,1);
}

.sbutton.red
{
	background: rgba(212,78,82,1.00);
	border: thin;
	color: rgba(242,242,242,0.95);
}
.sbutton.red:hover
{
	background: rgba(212,78,82,0.8);
	color: rgba(242,242,242,1);
}
.sbutton.red:active
{
	background: rgba(212,78,82,0.95);
	color: rgba(242,242,242,1);
}

.sbutton.pink
{
	background: rgba(208,125,156,1.00);
	border: thin;
	color: rgba(242,242,242,0.95);
}
.sbutton.pink:hover
{
	background: rgba(208,125,156,0.8);
	color: rgba(242,242,242,1);
}
.sbutton.pink:active
{
	background: rgba(208,125,156,0.95);
	color: rgba(242,242,242,1);
}

.sbutton.brown
{
	background: rgba(215,158,50,1.00);
	border: thin;
	color: rgba(242,242,242,0.95);
}
.sbutton.brown:hover
{
	background: rgba(215,158,50,0.8);
	color: rgba(242,242,242,1);
}
.sbutton.brown:active
{
	background: rgba(215,158,50,0.95);
	color: rgba(242,242,242,1);
}

.sbutton.black
{
	background: rgba(36,36,36,1.00);
	border: thin;
	color: rgba(242,242,242,0.95);
}
.sbutton.black:hover
{
	background: rgba(36,36,36,0.8);
	color: rgba(242,242,242,1);
}
.sbutton.black:active
{
	background: rgba(36,36,36,0.95);
	color: rgba(242,242,242,1);
}

.sbutton.blue.glass
{
	background: transparent;
	border: rgba(35,161,193,1.00) solid 1px;
	color: rgba(35,161,193,1.00);
}
.sbutton.blue.glass:hover
{
	background: rgba(35,161,193,0.8);
	color: rgba(242,242,242,1);
}
.sbutton.blue.glass:active
{
	background: rgba(35,161,193,0.95);
	color: rgba(242,242,242,1);
}

.sbutton.green.glass
{
	background: transparent;
	border: rgba(69,172,97,1.00) solid 1px;
	color: rgba(69,172,97,1.00);
}
.sbutton.green.glass:hover
{
	background: rgba(69,172,97,0.8);
	color: rgba(242,242,242,1);
}
.sbutton.green.glass:active
{
	background: rgba(69,172,97,0.95);
	color: rgba(242,242,242,1);
}

.sbutton.red.glass
{
	background: transparent;
	border: rgba(212,78,82,1.00) solid 1px;
	color: rgba(212,78,82,1.00);
}
.sbutton.red.glass:hover
{
	background: rgba(212,78,82,0.8);
	color: rgba(242,242,242,1);
}
.sbutton.red.glass:active
{
	background: rgba(212,78,82,0.95);
	color: rgba(242,242,242,1);
}

.sbutton.pink.glass
{
	background: transparent;
	border: rgba(208,125,156,1.00) solid 1px;
	color: rgba(208,125,156,1.00);
}
.sbutton.pink.glass:hover
{
	background: rgba(208,125,156,0.8);
	color: rgba(242,242,242,1);
}
.sbutton.pink.glass:active
{
	background: rgba(208,125,156,0.95);
	color: rgba(242,242,242,1);
}

.sbutton.brown.glass
{
	background: transparent;
	border: rgba(215,158,50,1.00) solid 1px;
	color: rgba(215,158,50,1.00);
}
.sbutton.brown.glass:hover
{
	background: rgba(215,158,50,0.8);
	color: rgba(242,242,242,1);
}
.sbutton.brown.glass:active
{
	background: rgba(215,158,50,0.95);
	color: rgba(242,242,242,1);
}

.sbutton.black.glass
{
	background: transparent;
	border: rgba(36,36,36,1.00) solid 1px;
	color: rgba(36,36,36,1.00);
}
.sbutton.black.glass:hover
{
	background: rgba(36,36,36,0.8);
	color: rgba(242,242,242,1);
}
.sbutton.black.glass:active
{
	background: rgba(36,36,36,0.95);
	color: rgba(242,242,242,1);
}

.sbutton.dark
{
	background: transparent;
	border: rgba(242,242,242,0.8) solid 1px;
	color: rgba(242,242,242,0.95);
	outline: none;
	cursor: pointer;
	overflow: hidden;
	box-sizing: border-box;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
.sbutton.dark:hover
{
    background: rgba(242,242,242,1);
	border-color: rgba(242,242,242,0.2);
	color: rgba(36,36,36,0.7);
}
.sbutton.dark:active
{
	background: rgba(242,242,242,0.8);
	border-color: rgba(242,242,242,0.2);
	color: rgba(36,36,36,0.9);
}

div.checkBox
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
}
.checkBox:hover
{
	opacity: 0.6;
}
.checkBox:active
{
	opacity: 0.8;
}

.sinput
{
	width: 200px;
	height: 20px;
	background: transparent;
	border-radius: 3px;
	border: rgba(36,36,36,0.1) solid 1px;
	padding-left: 5px;
	outline: none;
	box-sizing: border-box;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
}
.sinput:hover
{
	border: rgba(0,153,204,0.3) solid 1px;
}

div.sinput.search
{
	width: auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
    overflow: hidden;
}
div.sinput.search:hover
{
	border: rgba(0,153,204,0.3) solid 1px;
}
input.sinput.search
{
    height: 30px;
	border: none;
	border-radius: 0px;
}
.search-icon
{
    padding: 5px;
	font-family: Segoe MDL2;
	cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}
.search-icon:hover
{
	color: rgba(35,161,193,1.00);
}
.search-icon:active
{
	background: rgba(35,161,193,1.00);
	color: rgba(242,242,242,1);
}

.combobox
{
    position: relative;
    width: auto;
    height: 30px;
    border: rgba(36,36,36,0.1) solid 1px;
    font-family: '微软雅黑';
    font-size: 16px;
    color: rgba(36,36,36,0.8);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    z-index: 120;
}
.combobox-item-container
{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: rgba(242,242,242,0.9);
    border: rgba(36,36,36,0.1) solid 1px;
    box-sizing: border-box;
    -webkit-backdrop-filter:blur(8px);
    z-index: 120;
}
.combobox-item-container option
{
    height: 30px;
    padding-left: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.combobox-item-container option:hover
{
    background: rgba(36,36,36,0.1);
}
.combobox-item-container option:active
{
    background: rgba(36,36,36,0.2);
}

.flipview
{
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.flipview img
{
    width: 100%;
    height: auto;
}
.flipview:hover .controlbtn
{
	position: absolute;
	height: 35px;
	padding: 8px;
	font-family: Segoe MDL2;
	font-size: 13px;
	background: rgba(0,0,0,0.5);
	color: rgba(242,242,242,0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.flipview .controlbtn
{
	display: none;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
}
.flipview .controlbtn:hover
{
	background: rgba(0,0,0,0.8);
	color: rgba(242,242,242,0.8);
}

.treeview-item
{
    position: relative;
    min-width: 120px;
    width: 100%;
    min-height: 30px;
    height: auto;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    box-sizing: border-box;
}

.treeview-item-son
{
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
    font-family: "微软雅黑";
    font-size: 15px;
    border-left: rgba(0,153,204,0) solid 3px;

    color: rgba(75,75,75,1);
    padding: 5px;
    padding-left: 25px;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.treeview-item-son:hover
{
    border-left: rgba(0,153,204,0.3) solid 3px;
    box-shadow: 1px 1px 5px rgba(36,36,36,0.1);
}
.treeview-item-son:active
{
    border-left: rgba(0,153,204,0.5) solid 3px;
    box-shadow: 3px 3px 5px rgba(36,36,36,0.1);
}

.treeview-item-son-choose
{
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.8);
    font-family: "微软雅黑";
    font-size: 15px;
    border-left: rgba(0,153,204,0.8) solid 3px;
    color: rgba(75,75,75,1);
    padding: 5px;
    padding-left: 25px;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    box-shadow: 1px 1px 5px rgba(36,36,36,0.1);
}
.treeview-item-son-choose:hover
{
    border-left: rgba(0,153,204,0.5) solid 3px;
    box-shadow: 1px 1px 5px rgba(36,36,36,0.1);
}
.treeview-item-son-choose:active
{
    border-left: rgba(0,153,204,0.3) solid 3px;
    box-shadow: 3px 3px 5px rgba(36,36,36,0.1);
}

.flyout
{
	position: absolute;
	min-width: 120px;
	width: 120px;
	height: auto;
	padding: 5px 0px;
	background: rgba(255,255,255,0.8);
	font-family: "微软雅黑";
	font-size: 13px;
	border: rgba(0,0,0,0.05) solid 1px;
	border-radius: 2px;
	box-shadow: 1px 2px 5px rgba(36,36,36,0.2);
	box-sizing: border-box;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.flyout span
{
	padding: 5px;
	color: rgba(0,0,0,0.8);
	cursor: pointer;
	display: flex;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
.flyout span:hover
{
	background: rgba(0,0,0,0.1);
}
.flyout span:active
{
	transform: scale(0.9);
}

@keyframes warning
{
	0%{margin-left: -50px;}
	17%{margin-left: 40px;}
	34%{margin-left: -25px;}
	51%{margin-left: 15px;}
	68%{margin-left: -5px;}
	85%{margin-left: 2px;}
	100%{margin-left: 0;}
}
.warning-text
{
	-webkit-animation: warning 0.5s both;
}

.sinfo-box
{
	position: fixed;
	min-width: 400px;
    min-height: 80px;
	height: auto;
	background: rgba(255,255,255,0.95);
    border: rgba(240,240,240,0.5) solid 1px;
	border-radius: 3px;
    box-sizing: border-box;
	box-shadow: 8px 8px 25px rgba(0,0,0,0.2);
    transition: all 0.5s;
    transition-delay: 0.5s;
    backdrop-filter:blur(8px);
    animation: ib-on 0.3s both;
	-webkit-animation: ib-on 0.3s both;
	-webkit-backdrop-filter:blur(8px);
    -webkit-transition: all 0.5s;
    -webkit-transition-delay: 0.5s;
    
}
.sinfo-box:hover
{
    border: rgba(0,153,204,0.8) solid 1px;
}

.sinfo-box.red:hover
{
    border: rgba(200,50,59,1) solid 1px;
}
.sinfo-box.green:hover
{
    border: rgba(69,172,97,1.00) solid 1px;
}
.sinfo-box.brown:hover
{
    border: rgba(234,183,2,1) solid 1px;
}

.sinfo-box.dark
{
    background: rgba(0,0,0,0.6);
}

.sinfo-box #s_info_content
{
    color: rgba(36,36,36,0.8);
}
.sinfo-box.dark #s_info_content
{
    color: rgba(255,255,255,1);
}
.sinfo-box #s_judge_content
{
    color: rgba(36,36,36,0.8);
}
.sinfo-box.dark #s_judge_content
{
    color: rgba(255,255,255,1);
}

.sinfo-box div.title-bar
{
    width: 100%;
    padding: 5px;
    background: rgba(0,120,215,0.8);
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sinfo-box.red div.title-bar
{
    background: rgba(200,50,59,1);
}
.sinfo-box.green div.title-bar
{
    background: rgba(69,172,97,1.00);
}
.sinfo-box.brown div.title-bar
{
    background: rgba(234,183,2,1);
}

@keyframes ib-on
{
	0%{transform: scale(0.7,0.7);}
	70%{transform: scale(1.1,1.1);}
	100%{transform: scale(1,1);}
}

.s-progressring
{
	position: relative;
	width: 150px;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.s-progressring p
{
	position: absolute;
	width: 10px;
	height: 10px;
	margin-left: -50px;
	margin-top: -50px;
	background: cornflowerblue;
	border-radius: 50%;
	opacity: 0;
	transform-origin:50px 50px;
    animation: progressring 4s infinite ease-in-out;
}

.s-progressring.l
{
	width: 105px;
	height: 105px;
}
.s-progressring.l p
{
	width: 8px;
	height: 8px;
	margin-left: -35px;
	margin-top: -35px;
	transform-origin:35px 35px;
}
.s-progressring.m
{
	width: 75px;
	height: 75px;
}
.s-progressring.m p
{
	width: 6px;
	height: 6px;
	margin-left: -25px;
	margin-top: -25px;
	transform-origin:25px 25px;
}
.s-progressring.s
{
	width: 45px;
	height: 45px;
}
.s-progressring.s p
{
	width: 5px;
	height: 5px;
	margin-left: -15px;
	margin-top: -15px;
	transform-origin:15px 15px;
}
.s-progressring.xs
{
	width: 24px;
	height: 24px;
}
.s-progressring.xs p
{
	width: 3px;
	height: 3px;
	margin-left: -8px;
	margin-top: -8px;
	transform-origin:8px 8px;
}

.s-progressring p.l1
{
	animation: progressring 4s infinite ease-in-out;
    animation-delay: 0.12s;
}
.s-progressring p.l2
{
	animation: progressring 4s infinite ease-in-out;
    animation-delay: 0.24s;
}
.s-progressring p.l3
{
	animation: progressring 4s infinite ease-in-out;
    animation-delay: 0.36s;
}
.s-progressring p.l4
{
	animation: progressring 4s infinite ease-in-out;
    animation-delay: 0.48s;
}
.s-progressring p.l5
{
	animation: progressring 4s infinite ease-in-out;
    animation-delay: 0.6s;
}
@keyframes progressring {
	0%{opacity: 1; transform: rotate(-30deg);}
	60%{opacity: 1;}
	80%{opacity: 0; transform: rotate(520deg);}
	100%{opacity: 1; transform: rotate(690deg);}
}